@use './variables' as *;

@mixin flex($direction: null, $justify: null, $align: null) {
  display: flex;

  @if $direction {
    flex-direction: $direction;
  }

  @if $justify {
    justify-content: $justify;
  }

  @if $align {
    align-items: $align;
  }
}

@mixin icon-animation($icon-size: 2.4rem, $wrapper-size: 3.6rem) {
  color: $black;
  font-size: $icon-size;
  width: $wrapper-size;
  height: $wrapper-size;
  border-radius: 50%;
  @include flex(row, center, center);
  text-decoration: none;
  transition: all 0.2s ease-in-out;

  &:hover {
    color: $mint-500;
    background-color: $neutral-200;
    transform: translateY(-2px);
  }
}

@mixin soft-shadow {
  box-shadow: 0px 1px 4px #00000029;
}

@mixin wrapping-shadow {
  box-shadow: 0px 3px 8px #0000003d;
}

@mixin role-card {
  position: relative;
  display: block;
  width: 100%;
  height: 380px;
  border-radius: 2.4rem;
  overflow: hidden;
  text-decoration: none;
  @include soft-shadow;
  transition: box-shadow 0.3s ease;

  .card-img-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: $neutral-200;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.4s ease-in-out;
    }
  }

  .card-gradient {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to top, rgba(16, 24, 40, 0.8) 0%, rgba(16, 24, 40, 0) 100%);
    z-index: 1;
    transition: opacity 0.3s ease;
  }

  .card-title {
    position: absolute;
    bottom: 2.4rem;
    left: 0;
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-size: 2rem;
    font-weight: 700;
    z-index: 3;
    padding: 0 1.5rem;
    transition: all 0.3s ease;
  }

  .card-hover-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.85);
    border-radius: 1rem;
    backdrop-filter: blur(2px);
    opacity: 0;
    z-index: 2;
    transition: opacity 0.3s ease;

    .apply-btn-mock {
      position: absolute;
      bottom: 30%;
      left: 0;
      width: 100%;
      font-size: 2rem;
      font-weight: 700;
      color: $blue-600;
      @include flex(row, center, center);
      gap: 0.8rem;
      // opacity: 0;
      // transition:
      //   opacity 0.15s ease,
      //   bottom 0.15s ease;

      i {
        font-size: 2.4rem;
      }
    }
  }

  &:hover,
  &:focus {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);

    .card-img-wrapper img {
      transform: scale(1.1);
    }

    .card-gradient {
      opacity: 0;
    }

    .card-hover-overlay {
      opacity: 1;
    }

    .card-title {
      color: $blue-600;
      bottom: 45%;
    }

    // .apply-btn-mock {
    //   opacity: 1;
    //   bottom: 35%;
    //   transition:
    //     opacity 0.3s ease 0.2s,
    //     bottom 0.3s ease 0.2s;
    // }
  }
}
