// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1440px;

// Rose Color
$rose-100: #fadceb;
$rose-200: #f4b3d6;
$rose-300: #e685b9;
$rose-400: #d3569b;
$rose-500: #b92770;
$rose-600: #931f5a;
$rose-700: #6d1643;
$rose-800: #460e2c;

// Amber Color
$amber-100: #fef3d9;
$amber-200: #fce6ad;
$amber-300: #facb6b;
$amber-400: #f7c042;
$amber-500: #f5b423;
$amber-600: #d39213;
$amber-700: #b1770f;
$amber-800: #8e5c0c;

// AoC 1.0 colors
$blue-100: #e8ebf5;
$blue-200: #c6ccdf;
$blue-300: #a4adca;
$blue-400: #62719d;
$blue-500: #1d2b5d;
$blue-600: #1a2754;
$blue-700: #17224a;
$blue-800: #111a38;
$blue-900: #0b1125;

$mint-100: #eaf1f0;
$mint-200: #c0d8d6;
$mint-300: #96bfbc;
$mint-400: #6ca5a1;
$mint-500: #2f7973;
$mint-600: #286762;
$mint-700: #215551;
$mint-800: #1e524e;
$mint-900: #133432;

$teal-100: #eaf0f2;
$teal-200: #bfd1d9;
$teal-300: #94b2bf;
$teal-400: #6994a6;
$teal-500: #2c6980;
$teal-600: #255a6d;
$teal-700: #1f4b5b;
$teal-800: #183c49;
$teal-900: #122d37;

$neutral-100: #ffffff;
$neutral-200: #f7f7f7;
$neutral-300: #f5f5f5;
$neutral-400: #f3f3f3;
$neutral-500: #ccc;
$neutral-600: #6b6b6b;
$neutral-700: #4b4b4b;
$neutral-800: #333333;
$neutral-900: #000000;

// ALPHA / TRANSPARENCY
$neutral-overlay: rgba(#1e1e1e, 0.5);

$linkedin-blue: #0a66c2;
$discord-purple: #738adb;

// Flag colors
$ro-blue: #002b7f;
$ro-yellow: #fcd116;
$ro-red: #ce1126;

// Fonts
$font-size-base: 1rem;
$font-size-sm: 0.9rem;
$font-size-xs: 0.8rem;

$font-size-lg: 1.3rem;
$font-size-xl: 1.5rem;
$font-size-xxl: 1.7rem;

$h6-font-size: $font-size-base;
$h5-font-size: 1.2rem;
$h4-font-size: 1.4rem;
$h3-font-size: 1.7rem;
$h2-font-size: 1.9rem;
$h1-font-size: 2rem;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
